/* Navigation */
#navbar {
  flex-direction: column;
}
#navbar ul li a {
  font-size: 1rem;
  padding: 0px 15px;
  padding-bottom: 6px;
}

/* Home section  */
#home {
  height: 450px;
  padding: 3px 60px;
}
#home ::before {
  height: 380px;
}
#home p {
  height: 80px;
}
/* services section  */
.services {
  flex-direction: column;
}

/* Clients section  */
#clients {
  flex-wrap: wrap;
}

/* Contact us section  */

/* footer  */

/* utility classes  */
.h-primary {
  font-size: 18px;
}
.btn {
  margin: 34px;
  padding: 6px 10px;
  font-size: 15px;
}
